---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				max-width: 960px;
				width: 100%;
				height: fit-content;
				
			}

			ul {

				list-style-type: none;
			}	

			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
				
			}
			ul li img {
				height: auto;
				width: 100%;
				margin: 0 auto;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: var(--text-white);
				line-height: 1;
				font-family: "Belanosima", serif;
			}
			.date {
				margin: 0;
				color: var(--gray-light);
			}


			.description {
				min-height: 5em;
				display: flex;
				align-items: center;
			}
			.blog-item {
				display: grid;
				grid-template-columns: 3fr 1fr; /* Description takes 3/4, image takes 1/4 */
				gap: 1em;
				padding: 1em 0 1em 0;
				align-items: center;
				margin-top: 50px;
				margin-bottom: 50px;
				border-bottom: 1px solid rgb(52, 52, 52);
				max-width: 960px;
				width: 100%;
			}
			.blog-item:hover .title, 
			.blog-item:hover .date {
			color: rgb(var(--accent));
			}

			.blog-item:hover img {
			box-shadow: var(--box-shadow);
			}

			
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: left;
				}
				.blog-item {
					grid-template-columns: 1fr; /* Make it block layout */
				}

				.description {
					width: 100%;
					margin-bottom: 1em; /* Add spacing when stacked */
				}

				ul li img {
					width: 100%; /* Make the image full width */
					height: auto; /* Maintain aspect ratio */
				}

			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<div class="blog-item space-y-1">
										<div class="description">
											<div>
												<h4 class="title">{post.data.title}</h4>
												<p class="date">
													<FormattedDate date={post.data.pubDate} />
												</p>
											</div>
										</div>
										<img src={post.data.heroImage} alt="" />
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
